<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <img src="http://placehold.it/940x92" alt="">
            </div>
        </div>

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">NORAD</a>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <img src="http://placehold.it/940x145" alt="">
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li class="active"><a href="#">Categories</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span12">@RenderBody()</div>
        </div>
        <div class="row footer">
            <div class="span8 offset2">
                <div class="row">
                    <div class="span3">
                        Left Links
                        <ul>
                            <li>one</li>
                            <li>two</li>
                            <li>three</li>
                        </ul>
                    </div>
                    <div class="span3">
                        Center Links
                        <ul>
                            <li>one</li>
                            <li>two</li>
                            <li>three</li>
                        </ul>
                    </div>
                    <div class="span2">
                        Right Links
                        <ul>
                            <li>one</li>
                            <li>two</li>
                            <li>three</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span8 offset2">
                <div class="row">
                    <div class="span3">
                        <img src="http://placehold.it/145x50" alt="">
                    </div>
                    <div class="span3"></div>
                    <div class="span2">
                        <img src="http://placehold.it/145x50" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
